@font-face {
  font-family: BebasNeue;
  src: url('../fonts');
  src: url('../fonts/BebasNeue.woff') format('woff'), url('../fonts/BebasNeue.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
.banner-wrp {
  min-height: 800px;
  background-color: #fff;
  padding-top: 50px;
  font-family: Raleway;
}
.banner {
  position: relative;
}
.banner .img-wrp {
  position: absolute;
  top: -45px;
  right: -312px;
}
.banner .img-wrp img {
  width: 100%;
}
@media screen and (max-width: 1370px) {
  .banner .img-wrp {
    width: 750px;
    right: -230px;
  }
}
@media screen and (max-width: 1270px) {
  .banner .img-wrp {
    width: 700px;
    right: -200px;
  }
}
@media screen and (max-width: 1160px) {
  .banner .img-wrp {
    width: 660px;
    right: -180px;
  }
}
@media screen and (max-width: 1050px) {
  .banner .img-wrp {
    width: 600px;
    right: -150px;
  }
}
@media screen and (max-width: 986px) {
  .banner .img-wrp {
    width: 500px;
    right: -160px;
  }
}
@media screen and (max-width: 830px) {
  .banner .img-wrp {
    width: 450px;
    right: -100px;
  }
}
@media screen and (max-width: 740px) {
  .banner .img-wrp {
    right: -400px;
  }
}
.banner .banner-content-top h2 {
  color: #030303;
  font-size: 89px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 30px;
  line-height: 1.1em;
  font-family: BebasNeue;
}
.banner .banner-content-top h2 .little {
  font-size: 40px;
}
.banner .banner-content-top h2 .middle {
  font-size: 72px;
}
@media screen and (max-width: 740px) {
  .banner .banner-content-top h2 {
    font-size: 70px;
    text-align: center;
    line-height: 1.1em;
  }
  .banner .banner-content-top h2 .little {
    font-size: 35px;
  }
  .banner .banner-content-top h2 .middle {
    font-size: 65px;
  }
}
.banner .banner-content-top .sales-red-text {
  font-family: BebasNeue;
  color: #fb0101;
  font-size: 45px;
  font-weight: 400;
  margin-bottom: 28px;
}
@media screen and (max-width: 740px) {
  .banner .banner-content-top .sales-red-text {
    text-align: center;
  }
}
.banner .banner-content-top .about-code {
  margin-bottom: 30px;
}
.banner .banner-content-top .about-code p {
  color: #020202;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
}
.banner .banner-content-top .about-code p:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 986px) {
  .banner .banner-content-top .about-code p {
    font-size: 18px;
  }
  .banner .banner-content-top .about-code p span {
    font-size: 30px;
  }
}
@media screen and (max-width: 740px) {
  .banner .banner-content-top .about-code p {
    text-align: center;
  }
}
.banner .banner-content-top .about-code span {
  font-family: BebasNeue;
  font-size: 37px;
  font-weight: 700;
}
.banner .banner-content-top .buttons .black-btn {
  margin-right: 35px;
}
@media screen and (max-width: 740px) {
  .banner .banner-content-top .buttons .black-btn {
    color: #000;
    border: 1px solid #000;
  }
  .banner .banner-content-top .buttons .black-btn:hover {
    color: #fff;
    background-color: #000;
  }
}
@media screen and (max-width: 1160px) {
  .banner .banner-content-bottom .cont h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 986px) {
  .banner .banner-content-bottom .cont h1 {
    max-width: 100%;
  }
}
